@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

#lightTop {
    background-color: black;
    width: 10px;
    height: 70px;
    margin-left: 82px;
}

#lightBox {
    background-color: black;
    width: 56px;
    height: 178px;
    margin-left: 59px;
    padding: 7px;
    border-radius: 10px;
}

.redlight {
    width: 50px;
    height: 50px;
    margin: auto;
    border-radius: 50px;
    padding: 4px;
    background-color: red;
    .pointer {cursor: pointer;}
    //.redlight::selection{
    //box-shadow: #f8ffcc 0px 0px 50px 20px;
    

} 


.yellowlight{
    width: 50px;
    height: 50px;
    margin: auto;
    border-radius: 50px;
    padding: 4px;
    background-color: yellow;
    .pointer {cursor: pointer;}
    //.redlight::selection{
   // box-shadow: #f8ffcc 0px 0px 50px 20px;
    
}

.greenlight {
    width: 50px;
    height: 50px;
    margin: auto;
    border-radius: 50px;
    padding: 4px;
    background-color: green;
    .pointer {cursor: pointer;}
    //.redlight::selection{
    //box-shadow: #f8ffcc 0px 0px 50px 20px;
    
}

.row{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.selected {
    box-shadow: #f8ffcc 0px 0px 50px 20px;
}